<head>
  <link
    rel="stylesheet"
    href="/public/styles/customer/COhome.css"
    type="text/css"
  />
</head>

<div class="greating-text">
  <a>"Hi ich bin Liora!<br>
  Willkommen bei <span class="boldtext">easydog."</span></a>
</div>
<div class="interaction-bar">
  <img onclick="alert('Thank you for subscrbing!')" class="interaction-img" src="/public/styles/pictures/like (2).png"/>
  <img class="interaction-img" src="/public/styles/pictures/share (2).png"/>
  <img class="interaction-img" src="/public/styles/pictures/comment (2).png"/>
  <img class="interaction-img" src="/public/styles/pictures/subscribe (2).png"/>
</div>
<div class="circle">
  <img class="liora-img" src="/public/styles/pictures/Liora-img.png "/>
</div>
<div class="box">
  <!--SWIPER-->
  <div class="swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% for (let i=0; i<1; i++){ %> <% Sorten.forEach(function(Sorte){%>
        <div class="swiper-slide"><img src="<%=Sorte.img%>" /></div>
        <% }) %> <%}%>
      </div>
    </div>
    <!--Add pagination-->
    <div class="swiper-pagination"></div>
  </div>
</div>
<footer></footer>
<!--SWIPER-->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".swiper-container", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 200,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
    loop: true,
  });
</script>
