<head>
  <link
    rel="stylesheet"
    href="/public/styles/customer/COfoot.css"
    type="text/css"
  />
</head>
<ul class="foot">
  <li>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
  </li>
  <li>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
  </li>
  <li>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
  </li>
</ul>
