<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "index.css" type="text/css" />
    </head>
    <body>
        <main>
            <header>wähle dein Portal</header>
            <a href="/customer/COhome">COSTUMER</a>
            <a href="/MAhome">WORKER</a>
        </main>
    </body>
</html>