<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="MAchat.css">
        <link rel="stylesheet" href="font-awesome.min.css">
    </head>
    <body>
        <header>CHAT</header>
        <main>
            <a>Schreibe hier mit deinen <span>Kollegen</span>.</a>
            <textarea>chatten</textarea>
            <button>senden</button>
        </main>
        <!--NAVIBAR-->
        <nav>
            <%- include('../views/MAnavibar')%>
        </nav>
    </body>
</html>