<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="MAhome.css">
        <link rel="stylesheet" href="font-awesome.min.css">
    </head>
    <body>
        <header>SORTIMENT</header>
        <main>
            <div>
                <h2>Schön dass
                    <span id="colored"> DU</span><br>
                dich angemeldet hast.
                </h2>
                <a>In unserem Portal kannst du deinen Kollegen einen eigenen Account erstellen. Außerdem kannst du das eigene Sortiment 
                erweitern. Du hast auch eine eigene Mailbox, in dem wir dir alle Infos zukommen lassen & du kannst mit deinen Kollegen 
                hatten</a>
            </div>
            <a href="#"><img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"></a>
        </main>
        <!--NAVIBAR-->
        <nav>
            <%- include('../views/MAnavibar')%>
        </nav>
        <script type="text/javascript">
            var personal = document.getElementById("icon-person")

            function buttonclick(){
                personal.style.visibility = "visible";
            }
        </script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>