<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="MAnavibar.css">
    </head>
    <body>
        <nav id="navibar">
            <div>
                <span><ion-icon name="home-outline"></ion-icon></span>
                <a href="/MAhome">HOME</a>
            </div>
            <div>
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                <a href="/MAforum">MA</a>
            </div>
            <div>
                <span class="icon"><ion-icon name="cloud-upload-outline"></ion-icon></span>
                <a href="MAsorte">SORTEN</a>
            </div>
            <div>
                <span class="icon"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
                <a href="MAchat">CHAT</a>
            </div>
            <div>
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                <a href="/">LOGOUT</a>
            </div>
        </nav>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>